.d-md-block {
  display: block;
}

.d-md-inline-block {
  display: inline-block;
}

.d-md-inline {
  display: inline;
}

.d-md-inline-flex {
  display  : inline-flex;
}

.d-md-none {
  display  : none;
}
