.d-sm-block {
  display: block;
}

.d-sm-inline-block {
  display: inline-block;
}

.d-sm-inline {
  display: inline;
}

.d-sm-inline-flex {
  display  : inline-flex;
}

.d-sm-none {
  display  : none;
}
