.m-sm-auto {
  margin: auto;
}

.ml-sm-auto {
  margin-left: auto;
}

.mr-sm-auto {
  margin-right: auto;
}

.mt-sm-auto {
  margin-top: auto;
}

.mb-sm-auto {
  margin-bottom: auto;
}

@for $i from 0 through 200 {
  .p-sm-#{$i * 2} {
    padding: calc(#{$i} * 2px);
  }

  .m-sm-#{$i * 2} {
    margin: calc(#{$i} * 2px);
  }
}

@for $i from 0 through 200 {
  .m-sm-i#{$i * 2} {
    margin: calc(#{$i} * -2px);
  }
}

@for $i from 0 through 200 {
  .pt-sm-#{$i * 2} {
    padding-top: calc(#{$i} * 2px);
  }

  .pb-sm-#{$i * 2} {
    padding-bottom: calc(#{$i} * 2px);
  }

  .pl-sm-#{$i * 2} {
    padding-left: calc(#{$i} * 2px);
  }

  .pr-sm-#{$i * 2} {
    padding-right: calc(#{$i} * 2px);
  }

  .mt-sm-#{$i * 2} {
    margin-top: calc(#{$i} * 2px);
  }

  .mb-sm-#{$i * 2} {
    margin-bottom: calc(#{$i} * 2px);
  }

  .ml-sm-#{$i * 2} {
    margin-left: calc(#{$i} * 2px);
  }

  .mr-sm-#{$i * 2} {
    margin-right: calc(#{$i} * 2px);
  }
}

@for $i from 1 through 200 {
  .mr-sm-i#{$i * 2} {
    margin-right: calc(#{$i} * -2px);
  }

  .ml-sm-i#{$i * 2} {
    margin-left: calc(#{$i} * -2px);
  }

  .mt-sm-i#{$i * 2} {
    margin-top: calc(#{$i} * -2px);
  }

  .mb-sm-i#{$i * 2} {
    margin-bottom: calc(#{$i} * -2px);
  }
}
