.border {
  border: 1px solid $gray1;
}

.border-gray3 {
  border: 1px solid $gray3;
}

.border-bottom-gray1 {
  border-bottom: 1px solid $gray1;
}

.border-top-gray3 {
  border-top: 1px solid $gray3;
}

.border-right {
  border-right: 1px solid $gray1;
}

.border-radius-8 {
  border-radius: 8px;
}
