.gray1 {
  color: $gray1;
}

.gray2 {
  color: $gray2;
}

.gray3 {
  color: $gray3;
}

.gray4 {
  color: $gray4;
}

.blue1 {
  color: $blue1;
}

.bg-white {
  background-color: #fff;
}

.bg-blue2 {
  background-color: #E2F1FF;
}

.bg-red {
  background-color: #FBE9F2;
}

.bg-yellow {
  background-color: #FFF3E8;
}

.bg-green {
  background-color: #DEFDFF;
}
