.gray1 {

  &,
  &-hover:hover,
  &-active:active,
  &-visited:visited {

    color: $gray1;
  }
}

.gray2 {

  &,
  &-hover:hover,
  &-active:active,
  &-visited:visited {
    color: $gray2;
  }

}

.gray3 {

  &,
  &-hover:hover,
  &-active:active,
  &-visited:visited {
    color: $gray3;
  }

}

.gray4 {

  &,
  &-hover:hover,
  &-active:active,
  &-visited:visited {
    color: $gray4;
  }

}

.blue1 {

  &,
  &-hover:hover,
  &-active:active,
  &-visited:visited {
    color: $blue1;
  }
}

.bg-white {
  background-color: #fff;
}

.bg-blue2 {
  background-color: #E2F1FF;
}

.bg-red {
  background-color: #FBE9F2;
}

.bg-yellow {
  background-color: #FFF3E8;
}

.bg-purple {
  background-color: #F4F3FF;
}

.bg-gray {
  background-color: #F3F3F9;
}