.d-flex,
.d-flex-c {
  display  : flex;
  flex-wrap: wrap;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-align-center {
  align-items: center;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-flex-start {
  align-items: flex-start;
}

.flex-align-flex-end {
  align-items: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-left {
  justify-content: left;
}

.flex-justify-end {
  justify-content: end;
}

.flex-justify-start {
  justify-content: start;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.d-flex {
  flex-direction: row;

  &.flex-reverse {
    flex-direction: row-reverse;
  }

  &>.col-auto {
    flex     : 0 0 auto;
    width    : initial;
    max-width: initial;
  }

  &>.col {
    flex-basis       : 0;
    -webkit-box-flex : 1;
    -ms-flex-positive: 1;
    flex-grow        : 1;
    max-width        : 100%;
  }

  @for $i from 1 through 10 {
    &>.col-#{$i} {
      flex     : 1 1 calc(100% / 10 * #{$i});
      width    : calc(100% / 10 * #{$i});
      max-width: calc(100% / 10 * #{$i});
    }

    &>.col-#{$i}5 {
      flex     : 1 1 calc(100% / 10 * #{$i}.5);
      width    : calc(100% / 10 * #{$i}.5);
      max-width: calc(100% / 10 * #{$i}.5);
    }
  }

  @media screen and (max-width: $break-tablet) {
    &.flex-md-reverse {
      flex-direction: row-reverse;
    }

    &>.col-md-auto {
      flex     : 0 0 auto;
      width    : initial;
      max-width: initial;
    }

    &>.col-md {
      flex-basis       : 0;
      -webkit-box-flex : 1;
      -ms-flex-positive: 1;
      flex-grow        : 1;
      max-width        : 100%;
    }

    @for $i from 1 through 10 {
      &>.col-md-#{$i} {
        flex     : 1 1 calc(100% / 10 * #{$i});
        width    : calc(100% / 10 * #{$i});
        max-width: calc(100% / 10 * #{$i});
      }

      &>.col-md-#{$i}5 {
        flex     : 1 1 calc(100% / 10 * #{$i}.5);
        width    : calc(100% / 10 * #{$i}.5);
        max-width: calc(100% / 10 * #{$i}.5);
      }
    }
  }

  @media screen and (max-width: $break-mobile) {
    &.flex-sm-reverse {
      flex-direction: row-reverse;
    }

    &>.col-sm-auto {
      flex     : 0 0 auto;
      width    : initial;
      max-width: initial;
    }

    &>.col-sm {
      flex-basis       : 0;
      -webkit-box-flex : 1;
      -ms-flex-positive: 1;
      flex-grow        : 1;
      max-width        : 100%;
    }

    @for $i from 1 through 10 {
      &>.col-sm-#{$i} {
        flex     : 1 1 calc(100% / 10 * #{$i});
        width    : calc(100% / 10 * #{$i});
        max-width: calc(100% / 10 * #{$i});
      }

      &>.col-sm-#{$i}5 {
        flex     : 1 1 calc(100% / 10 * #{$i}.5);
        width    : calc(100% / 10 * #{$i}.5);
        max-width: calc(100% / 10 * #{$i}.5);
      }
    }
  }
}

.d-flex-c {
  &.flex-reverse {
    flex-direction: column-reverse;
  }

  &>.col-auto {
    flex      : 0 0 auto;
    height    : initial;
    max-height: initial;
  }

  &>.col {
    flex-basis       : 0;
    -webkit-box-flex : 1;
    -ms-flex-positive: 1;
    flex-grow        : 1;
    max-height       : 100%;
  }

  @for $i from 1 through 10 {
    &>.col-#{$i} {
      flex      : 1 1 calc(100% / 10 * #{$i});
      height    : calc(100% / 10 * #{$i});
      max-height: calc(100% / 10 * #{$i});
    }

    &>.col-#{$i}5 {
      flex      : 1 1 calc(100% / 10 * #{$i}.5);
      height    : calc(100% / 10 * #{$i}.5);
      max-height: calc(100% / 10 * #{$i}.5);
    }
  }

  @media screen and (max-width: $break-tablet) {
    &.flex-md-reverse {
      flex-direction: column-reverse;
    }

    &>.col-md-auto {
      flex      : 0 0 auto;
      height    : initial;
      max-height: initial;

    }

    &>.col-md {
      flex-basis       : 0;
      -webkit-box-flex : 1;
      -ms-flex-positive: 1;
      flex-grow        : 1;
      max-height       : 100%;
    }

    @for $i from 1 through 10 {
      &>.col-md-#{$i} {
        flex      : 1 1 calc(100% / 10 * #{$i});
        height    : calc(100% / 10 * #{$i});
        max-height: calc(100% / 10 * #{$i});
      }

      &>.col-md-#{$i}5 {
        flex      : 1 1 calc(100% / 10 * #{$i}.5);
        height    : calc(100% / 10 * #{$i}.5);
        max-height: calc(100% / 10 * #{$i}.5);
      }
    }
  }

  @media screen and (max-width: $break-mobile) {
    &.flex-sm-reverse {
      flex-direction: column-reverse;
    }

    &>.col-sm-auto {
      flex      : 0 0 auto;
      height    : initial;
      max-height: initial;
    }

    &>.col-sm {
      flex-basis       : 0;
      -webkit-box-flex : 1;
      -ms-flex-positive: 1;
      flex-grow        : 1;
      max-height       : 100%;
    }

    @for $i from 1 through 10 {
      &>.col-sm-#{$i} {
        flex      : 1 1 calc(100% / 10 * #{$i});
        height    : calc(100% / 10 * #{$i});
        max-height: calc(100% / 10 * #{$i});
      }

      &>.col-sm-#{$i}5 {
        flex      : 1 1 calc(100% / 10 * #{$i}.5);
        height    : calc(100% / 10 * #{$i}.5);
        max-height: calc(100% / 10 * #{$i}.5);
      }
    }
  }
}

@for $i from 1 to 12 {
  .order-#{$i} {
    order: #{$i};
  }

  .order-i#{$i} {
    order: -#{$i};
  }
}
