.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

@for $i from 1 through 40 {
  .w-#{$i * 5} {
    width: calc(#{$i} * 5%);
  }

  .h-#{$i * 5} {
    height: calc(#{$i} * 5%);
  }
}


@for $i from 1 through 1000 {
  .w-max#{$i} {
    max-width: calc(#{$i} * 0.0625rem);
  }

  .h-max#{$i} {
    max-height: calc(#{$i} * 0.0625rem);
  }

  .w-min#{$i} {
    min-width: calc(#{$i} * 0.0625rem);
  }

  .h-min#{$i} {
    min-height: calc(#{$i} * 0.0625rem);
  }
}
