.m-auto {
  margin: auto;
}

@for $i from 0 through 60 {
  .p-#{$i * 2} {
    padding: calc(#{$i} * 2px);
  }

  .m-#{$i * 2} {
    margin: calc(#{$i} * 2px);
  }
}

@for $i from 0 through 60 {
  .m-i#{$i * 2} {
    margin: calc(#{$i} * -2px);
  }
}

@for $i from 0 through 60 {
  .pt-#{$i * 2} {
    padding-top: calc(#{$i} * 2px);
  }

  .pb-#{$i * 2} {
    padding-bottom: calc(#{$i} * 2px);
  }

  .pl-#{$i * 2} {
    padding-left: calc(#{$i} * 2px);
  }

  .pr-#{$i * 2} {
    padding-right: calc(#{$i} * 2px);
  }

  .mt-#{$i * 2} {
    margin-top: calc(#{$i} * 2px);
  }

  .mb-#{$i * 2} {
    margin-bottom: calc(#{$i} * 2px);
  }

  .ml-#{$i * 2} {
    margin-left: calc(#{$i} * 2px);
  }

  .mr-#{$i * 2} {
    margin-right: calc(#{$i} * 2px);
  }
}

@for $i from 1 through 60 {
  .mr-i#{$i * 2} {
    margin-right: calc(#{$i} * -2px);
  }

  .ml-i#{$i * 2} {
    margin-left: calc(#{$i} * -2px);
  }

  .mt-i#{$i * 2} {
    margin-top: calc(#{$i} * -2px);
  }

  .mb-i#{$i * 2} {
    margin-bottom: calc(#{$i} * -2px);
  }
}
