.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-nowrap {
  white-space: nowrap;
}

.text-wrap {
  white-space: normal;
}

@for $i from 10 to 50 {

  .fz-#{$i}-b,
  .fz-#{$i}-l,
  .fz-#{$i}-r,
  .fz-#{$i}-m {
    font-size     : $i * 1px;
    line-height   : max($i * 1.2px, 32px);
    letter-spacing: 0.05em;
  }

  .fz-#{$i}-l {
    font-weight: 300;
  }

  .fz-#{$i}-r {
    font-weight: 400;
  }

  .fz-#{$i}-m {
    font-weight: 500;
  }

  .fz-#{$i}-b {
    font-weight: 700;
  }
}

@for $i from 1 to 100 {
  .lh-#{$i} {
    line-height: $i * 1px;
  }
}

.ls-normal {
  letter-spacing: normal;
}

@for $i from 1 to 40 {
  .ls-#{$i*5} {
    letter-spacing: $i * 0.05em;
  }
}
